.additem-section{
    margin-top: 110px;
    margin-bottom: 130px;
    width: 100%;
}
.item-container{
    width: 600px;
    height: 700px;
    border-radius: 10px;
    background-color: #c0fcf4;
    padding: 30px 20px;
}

.item{
    height: 100vh;
}

.margin-text{
    margin-top: 10%;
}

@media screen  and (max-width: 600px){
    .margin-text{
        margin-top: 30%;
    }

    .item{
        height: 70vh;
    }
}