li{
    margin-left: 20px;
    list-style: none;
}
.logo-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navbar-margin{
    margin-left: 60px;
    cursor: pointer;
}

.bg{
    background-color: whitesmoke;
}

.font-size{
    margin-top: 15px;
    font-size: 25px;
}

.uNone{
    text-decoration: none !important;
    font-weight: 500;
}

.left{
    margin-top: 15px;
    padding: auto;
    margin-right: 60px;
}

.login-btn{
    background-color: #ff4f00;
    padding: 5px 20px;
    border: none;
    color: white !important;
}

.login-btn:hover{
    background-color: #059e05;
}

@media screen and (max-width: 600px) {
    li{
        text-align: center;
    }
    .left{
        margin-top: 0px;
        margin-right: 0;
    }
    .navbar-margin{
        margin-left: 0px;
    }
}